.popup
    .wrapper_inner
        p Оптовый покупатель? Узнайте специальные условия и цены:
        a(href="#").popup__price Получить оптовый прайс
        a(href="#").popup__btn ПОЛУЧИТЬ КП
        a(href="#0").close
            img(src="./images/icon/close.svg", alt="close")
.left-banner
    h5 ОПТ от 30 000 рублей!
    p Получите специальный прайс от завода-производителя!
    a(href="#") ПОЛУЧИТЬ прайс
.form-price
    .form__wrap
        h4 Получить оптовый прайс
        p Напишите ваши данные, и в течение 15 минут наш специалист вышлет вам оптовый прайс
        form(action="#")
            label(for="name") Имя
            input(type="text", name="name")#name
            label(for="phone") Телефон 
                span *
            input(type="tel", name="phone")#phone
            label(for="email") E-mail 
                span *
            input(type="email", name="email")#email
            input(type="checkbox", name="check")#check
            label(for="check") Я даю согласие на 
                a(href="#") обработку моих персональных данных
            input(type="submit", value="Получить прайс")
.form-btn
    .form__wrap
        h4 Запрос коммерческого предложения
        p Напишите ваши данные, и в течение 15 минут наш специалист составит для вас коммерческое предложение с максимальной скидкой завода
        form(action="#")
            label(for="name") Имя
            input(type="text", name="name")#name
            label(for="phone") Телефон 
                span *
            input(type="tel", name="phone")#phone
            label(for="email") E-mail 
                span *
            input(type="email", name="email")#email
            input(type="checkbox", name="check")#check
            label(for="check") Я даю согласие на 
                a(href="#") обработку моих персональных данных
            input(type="submit", value="Получить предложение")
.form-opt
    .form__wrap
        h4 Получить оптовый прайс
        p Напишите ваши данные, и в течение 15 минут наш специалист вышлет вам оптовый прайс
        form(action="#")
            label(for="name") Имя
            input(type="text", name="name")#name
            label(for="phone") Телефон 
                span *
            input(type="tel", name="phone")#phone
            label(for="email") E-mail 
                span *
            input(type="email", name="email")#email
            input(type="checkbox", name="check")#check
            label(for="check") Я даю согласие на 
                a(href="#") обработку моих персональных данных
            input(type="submit", value="Получить прайс")
.wrapper_inner
    .form-long
        h4 Хотите получить оптовое предложение?
        p Напишите ваши данные, и в течение 15 минут наш специалист составит для вас коммерческое предложение с максимальной скидкой завода
        form(action="#")
            .form
                .col
                    label(for="name") Имя
                    input(type="text", name="name")#name
                .col
                    label(for="phone") Телефон 
                        span *
                    input(type="tel", name="phone")#phone
                .col
                    label(for="email") E-mail 
                        span *
                    input(type="email", name="email")#email
            .form__btn
                input(type="checkbox", name="check")#check-form
                label(for="check-form") Я даю согласие на 
                    a(href="#") обработку моих персональных данных
                input(type="submit", value="Получить предложение")
